{% extends 'base-back.html.twig' %}

{% block title %}New Activite{% endblock %}

{% block body %}
    <section class="section section-padding" style="background-color: #f8f9fa;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card card-bordered" style="background-color: #fff;">
                        <div class="card-header" style="background-color: #007bff;">
                            <h4 class="card-title" style="color: #fff;">Create New Activite</h4>
                        </div>
                        <div class="card-body">
                            {{ include('activite/_form.html.twig') }}
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <a href="{{ path('app_activite_index') }}" class="btn btn-outline-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}