    {# templates/commentaire/edit.html.twig #}

    {% extends 'base.html.twig' %}

    {% block title %}Modifier un commentaire{% endblock %}

    {% block body %}
        <h1>Modifier un commmentaire</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Modifier</button>
        
        {{ form_end(form) }}
    {% endblock %}
