<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Programme Added</title>
</head>
<body>
    <h1>New Programme Added</h1>
    <p>A new programme has been added:</p>
    <ul>
        <li><strong>ID:</strong> {{ programme.id }}</li>
        <li><strong>Lieu:</strong> {{ programme.lieu }}</li>
        <li><strong>But:</strong> {{ programme.but }}</li>
        <li><strong>Nom_L:</strong> {{ programme.nomL }}</li>
    </ul>
    <p>Thank you!</p>
</body>
</html>
