{% extends 'base.html.twig' %}

{% block title %}Editer Questionnaire{% endblock %}

{% block body %}
    <h1>Editer Questionnaire</h1>

    {{ include('questionnaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_questionnaire_index') }}" class="btn btn-secondary">Retourner</a>

    {{ include('questionnaire/_delete_form.html.twig') }}
{% endblock %}
