{% extends 'base-front.html.twig' %}

{% block title %}Results{% endblock %}

{% block body %}
{% include 'chat.html.twig' %}

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>
    <div class="page-wrapper">
    

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->


        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>notre formulaire</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                  
                        <li>9 questions</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Faq Search Box Start-->
        <section class="faq-search-box">
            <div class="container">
                <div class="faq-search-box__inner">
                    <div class="faq-search-box__shape float-bob-x">
                        <img src="assets/images/shapes/faq-search-shape-1.png" alt="">
                    </div>
                    <div class="faq-search-box__left">
                        <h3 class="faq-search-box__title">formulaire de question</h3>
                        <p class="faq-search-box__text">
                            Voici un formulaire de questions pour déterminer si quelqu'un 
                            pourrait bénéficier de consulter un psychiatre</p>
                        <form class="faq-search-box__form">
                  
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--Faq Search Box End-->

        <!--Faq Page Start-->
        <section class="faq-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <div class="faq-page__left">
                            <div class="faq-page__content">
                                <div class="faq-page__content-bg"
                                    style="background-image: url(assets/images/backgrounds/faq-page-content-bg.jpg);">
                                </div>
                                <div class="faq-page__call-icon">
                                    <span class="icon-phone-call"></span>
                                </div>
                                <h4 class="faq-page__content-title"> <br> autre Questions?</h4>
                                <div class="faq-page__call">
                                    <p class="faq-page__call-sub-title">
                                        Appelez à tout moment</p>
                                    <h5 class="faq-page__call-number"><a href="tel:9288009850">+216 50 312 709</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
        
            <div class="col-xl-9 col-lg-8">
            <div class="faq-page__right">
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h1>Resultat du Formulaire</h1>
                        {# <h3>Your health status is: {{ healthStatus }}</h3> #}
                        {% if healthStatus == 1 %}
                         <p>Après avoir évalué votre état de santé, il apparaît que vous pourriez tirer profit d'un échange avec un professionnel de la santé mentale. Un thérapeute pourrait vous fournir le soutien nécessaire pour traverser cette période difficile. Nous vous encourageons à ne pas hésiter à prendre un rendez-vous afin de discuter de ce que vous ressentez.</p>
                            <!-- Include link or action to make a reservation -->
                            <a href="{{ path('listtherap') }}" class="btn btn-warning">Réserver Consultation</a>
                        {% else %}
                             <p>Votre état de santé semble être bon, ce qui est une excellente nouvelle. Nous avons une variété d'activités qui pourraient vous intéresser et contribuer à votre bien-être. Que ce soit pour le sport, la détente ou l'apprentissage de nouvelles compétences, il y a beaucoup à explorer. Consulter nos Actualité</p>
                            <!-- Include link or action to view activities -->
                             <a href="{{ path('ListPublication') }}" class="btn btn-success">Nos Publication</a> 
                        {% endif %}
                        <a href="{{ path('questionnaire_generate_pdf', {'questionnaireId': questionnaireId}) }}" class="btn btn-primary">Download PDF</a>

                    </div>
                </div>
            </div>
        </div>

   </section>
    </div><!-- /.page-wrapper -->
   
</body>

{% endblock %}



